<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.1.xsd  
    http://www.springframework.org/schema/aop  
   	http://www.springframework.org/schema/aop/spring-aop.xsd" >
    <context:component-scan base-package="com.winnerlook" /> 
    
    <!-- 扫描web包，应用Spring的注解 @dao -->
<!-- 	<context:component-scan base-package="com.winnerlook.kuailq.dao" /> -->
	
	<!-- 扫描web包，应用Spring的注解 @service -->
 	<context:component-scan base-package="com.winnerlook.huzou.test" />
	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- set the max upload size100MB -->
		<property name="maxUploadSize">
			<value>104857600</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
		<property name="defaultEncoding">
			<value>utf-8</value>
		</property>
	</bean>
	<!-- 加载属性配置文件 majun 2014-11-04 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<value>classpath*:properties/datasource.properties</value>
				<!--<value>classpath*:properties/dubbo.properties</value>-->
				<!--<value>classpath*:properties/redis.properties</value>-->
				<!--<value>classpath*:properties/ftp.properties</value>-->
				<!--<value>classpath*:properties/kafka.properties</value>-->
				<!--<value>classpath*:properties/mongodb.properties</value>-->
			</list>
		</property>
	</bean>
	
<!-- 	<bean id="taskExecutor"   -->
<!--         class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">   -->
<!--         核心线程数       ${status.thread.num}  ${status.thread.max.num}  ${status.queue.max.num}   ${status.keep.alive.time}    -->
<!--         <property name="corePoolSize" value="10" />   -->
<!--         最大线程数   -->
<!--         <property name="maxPoolSize" value="20" />   -->
<!--         队列最大长度 >=mainExecutor.maxSize   -->
<!--         <property name="queueCapacity" value="50" />   -->
<!--         线程池维护线程所允许的空闲时间,默认是60s   -->
<!--         <property name="keepAliveSeconds" value="30" />   -->
<!--         线程池对拒绝任务(无线程可用)的处理策略  -->
<!--            AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
<!--            CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
<!--            DiscardOldestPolicy:抛弃旧的任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
<!--            DiscardPolicy:抛弃当前任务、暂不支持；会导致被丢弃的任务无法再次被执行  -->
<!--         <property name="rejectedExecutionHandler">   -->
<!--             <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />   -->
<!--         </property>   -->
<!--     </bean>  -->
	
	<!-- 配置从上下文中获取Bean的工具类  majun 2014-11-04 -->
    <bean id="applicationContextUtil" class="com.winnerlook.util.ApplicationContextUtil" />
	
	<!-- 框架配置文件在此import majun 2014-11-04 -->
	<import resource="classpath*:spring/framework/datasource/applicationContext-*.xml"/>
	
	<!--<import resource="classpath*:spring/framework/dubbo/applicationContext-dubbo.xml"/>-->
	
	<import resource="classpath*:spring/framework/mybatis/applicationContext-mybatis.xml"/>
	
<!-- 	<import resource="classpath*:spring/framework/redis/applicationContext-redis.xml"/> -->

	<!--<import resource="classpath*:spring/framework/redis/applicationContext-redis-transient.xml"/>-->
	
	<!--<import resource="classpath*:spring/framework/ftp/applicationContext-ftp.xml" />-->
	
	<!--<import resource="classpath*:spring/framework/kafka/applicationContext-kafka.xml"/>-->
	
	<!--<import resource="classpath*:spring/framework/mongodb/applicationContext-mongodb.xml"/>-->

	<import resource="classpath*:spring/framework/cxf/applicationContext-cxf.xml"/>
	
	<!--<import resource="classpath*:spring/framework/startup/applicationContext-startup.xml"/>-->
	
</beans>    
